<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
                <p class="blog-author"By: {{post.user.username}}</p>
            </div>
            <div class="blog-info">
                <p class="blog-meta">{{blog_info}}</p>
            </div>
            <div class="post-date">
                <p class="date"> Posted on
                {{post.created_at}}</p>
            </div>
        </article>
    </li>
    {{/each}}
</ol>